@using UniversityManagementSystemByReturnNull.Models
@model UniversityManagementSystemByReturnNull.Models.Student
@{
    ViewBag.Title = "Register";
    List<Department> departments = ViewBag.Departments;
}

@section css
{

    <link href="~/Asset/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Asset/css/style.css" rel="stylesheet" />
    @*<link href="~/Asset/css/wickedpicker.css" rel="stylesheet" />
    <link href="~/Asset/css/jquery-ui.css" rel="stylesheet" />*@
<link href="~/Asset/css/Custom.css" rel="stylesheet" />
}


<div class="container">

    <div class="row">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "saveCourseForm" }))
        {
            <div class="banner-top">
                <h2>Register Student</h2>
                <div class="banner-bottom">
                    <div class="bnr-one">
                        <div class="bnr-left">
                            <p>@Html.LabelFor(model => model.Name)</p>
                        </div>
                        <div class="bnr-right">
                            @Html.TextBoxFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="bnr-one">
                        <div class="bnr-left">
                            <p>@Html.LabelFor(model => model.Email)</p>
                        </div>
                        <div class="bnr-right">
                            @Html.TextBoxFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="bnr-one">
                        <div class="bnr-left">
                            <p>@Html.LabelFor(model => model.ContactNo)</p>
                        </div>
                        <div class="bnr-right">
                           
                            @Html.TextBoxFor(model => model.ContactNo)
                            @Html.ValidationMessageFor(model => model.ContactNo)
                        </div>
                        <div class="clearfix"></div>
                    </div>


                    <div class="bnr-one">
                        <div class="bnr-left">
                            <p>@Html.LabelFor(model => model.RegistrationDate)</p>
                            </div>
                        <div class="bnr-right">
                            
                            <input type="date" name="RegistrationDate">
                         
                            @Html.ValidationMessageFor(model => model.RegistrationDate)
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="bnr-one">
                        <div class="bnr-left">
                            <p>@Html.LabelFor(model => model.Address)</p>
                        </div>
                        <div class="bnr-right">
                            @Html.TextBoxFor(model => model.Address)
                            @Html.ValidationMessageFor(model => model.Address)
                        </div>
                        <div class="clearfix"></div>
                    </div>


                    <div class="bnr-one">
                        <div class="bnr-left">
                            <p><label for="DepartmentId">Department</label></p>
                        </div>
                        <div class="bnr-right">
                            <select id="DepartmentId" name="DepartmentId">
                                <option value="">Select Department....</option>
                                @foreach (var dept in departments)
                                {
                                    <option value="@dept.Id">@dept.Name</option>
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="bnr-btn">
                        <input type="submit" value="Register" />
                    </div>
                </div>
                <br />
                <div align="center">
                    @if (ViewBag.Message != null)
                    {
                        <div class="text-danger">
                            @ViewBag.Message
                        </div>
                    }
                </div>
                <div align="center">
                    @if (ViewBag.Msg != null)
                    {
                        <div class="text-success">
                            @ViewBag.Msg
                        </div>
                    }
                </div>

            </div>

        }

    </div>

</div>





@section scripts
      {
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @*<script src="~/Asset/js/jquery-ui.js">
    </script>*@
    @*<script>
        $(function () {
            $("#datepicker,#datepicker1").datepicker();
        });
    </script>*@
    
    @*<script src="~/Asset/js/wickedpicker.js"></script>
<script type="text/javascript">
    $('.timepicker').wickedpicker({ twentyFour: false });
    $('.timepicker-two').wickedpicker({ twentyFour: true });
</script>*@
<!-- /js for time-picker -->
}